{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}

<form method="post" class="form-control">
        {% csrf_token %}
        <div class="row d-flex justify-content-center">
            <p class="lead">
                Register here:
            </p>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="form-col">
                {{ form|crispy }}
                <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                    <div class="row-1">
                        <input type="submit" class="btn btn-outline-primary" value="Confirm">
                    </div> 
            </div>
        </div>
</form>

{% endblock content %}


