{% extends 'main.html' %}

{% load crispy_forms_tags %}
{% block content %}

<h3>Profile Page</h3>

<style>
    .profile-pic{
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>

<br>
<div class="row">
    <div class="col-md-3">
        <div class="card card-body">
            <a class="btn btn-warning" href="{% url 'home' %}">Back to home page</a>
            <hr>
            <h3 style="text-align: center">Account Settings</h3>
            <hr>
            <img src="{{ user.profile.image.url }}" alt="" class="profile-pic">
        </div>
    </div>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form }}

</form>

{% endblock content %}

